<% input_classes = 'w-full h-14 border-none focus:ring-0' %>
<%= form_with model: @group, scope: :group, url: groups_path do |form| %>
  <div class="flex flex-col px-4 border-y border-neutral bg-white">
    <div>
      <%= form.text_field :name, class: input_classes, placeholder: "Name", required: true %>
    </div>
    <div class="border-t border-neutral"></div>
    <div>
      <%= form.text_field :icon, class: input_classes, placeholder: "Icon URL", required: true %>
    </div>
  </div>
  <div>
    <button type="submit" class="w-full px-4 py-3 text-main bg-main/10 tracking-wide">
      Save
    </button>
  </div>
<% end %>
