<div class="absolute inset-0 flex flex-col h-full p-4">
  <div class="min-h-0 h-full flex justify-center items-center">
    <h1 class="text-main text-2xl font-semibold">RAILS<span class="text-neutral-400 text-sm italic">budget</span></h1>
  </div>
  <div>
    <%= link_to 'LOG IN', new_user_session_path, class: "block w-full px-4 py-3 bg-main text-neutral-100 text-center mb-2" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "block w-full px-4 py-3 text-neutral-900 text-center" %>
  </div>
</div>
